<main class="userPosts">
  <div class="sendPost">
    <h4>Send Post</h4>
    <form [formGroup]="postFormData" (ngSubmit)="onSubmit()">
      <label for="username">Title:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        name="title"
        required
      />

      <label for="body">Body:</label>
      <input
        type="text"
        id="body"
        formControlName="body"
        name="body"
        required
      />
      <button type="submit" [disabled]="!postFormData.valid">Send Post</button>
    </form>
    <div *ngIf="postedData">
      <p>You send this data:</p>
      <div>
        <p>Title: {{ postedData.title }}</p>
        <p>Body: {{ postedData.body }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="data">
    <h3>Data from API</h3>
    <ul>
      <li *ngFor="let item of data">
        <a routerLink="/detail/{{ item.id }}">{{ item.title }}</a>
        <button type="button" title="delete post"
        (click)="delete(item.id)">x</button>
      </li>
    </ul>
  </div>
</main>
